@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

:root {
}

body {
  background-image: url(assets/background.jpg);
  background-size: 100vw 100vh;
  min-height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
  min-height: inherit;
  padding: 2rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2.125rem;
  width: 100%;
  text-align: center;
  letter-spacing: -0.2rem;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 25%;
  border-bottom: 2px solid white;
}

.search img {
  cursor: pointer;
}

.search input[type="text"] {
  height: 3rem;
  border: none;
  outline: none;
  font-size: 2rem;
  background-color: transparent;
  color: white;
  width: 100%;
}

.weather-data-container {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  width: 100%;
  justify-content: space-around;
  gap: 20px;
}

.today-forcast-container {
  min-width: 50%;
  display: flex;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 1px 2px 0px,
    rgba(255, 255, 255, 0.15) 0px 2px 6px 2px;
  border: 2px solid white;
  border-radius: 2rem;
  padding: 3rem;
  font-size: 2rem;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-between;
}

.today-forcast-container h1 {
  font-weight: 800;
}

.today-forcast-container h2 {
  font-weight: 500;
}

.today-forcast-container h3 {
  font-weight: 300;
}

.today-forcast-container h4 {
  font-weight: 200;
  font-size: 1.3rem;
}

.weather-card-today {
}

.weather-data-container-secondary {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.35rem;
}

.weather-data-container-secondary h4 {
  font-weight: 700;
}

.weather-data-container-secondary h5 {
  font-weight: 400;
}
.weather-data-container-secondary img {
  height: 30px;
  width: 30px;
}

.weekly-forcast-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

.weather-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 1rem;
}

.weather-card h1 {
  font-weight: 800;
}
.weather-card h2 {
  font-weight: 400;
}
.weather-card h4 {
  font-weight: 300;
}

.condition-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.feels-like,
.rain-chance,
.humidity,
.wind-speed {
  display: flex;
  gap: 10px;
  align-items: center;
}

.error {
  color: red;
  text-align: center;
}

@media (max-width: 520px) {
  body {
    background-image: none;
    background-color: black;
  }

  .weather-card-today {
    font-size: 1.5rem;
  }

  .weather-card {
    border: 2px solid white;
    border-radius: 2rem;
    width: 75%;
  }
}
